In [13]:
from bs4 import BeautifulSoup
import requests

In [14]:
# html 코드 가져오기
response = requests.get('http://127.0.0.1:5500/crawling/01.%20html_basic/html_basic_table.html')

In [15]:
print(response.text)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML table</title>
    <style>
        table { border-collapse: collapse; }
        th, td{
            border: 1px solid black;
        }
        th { background-color: aqua;}
        #hong { color: blue; }
        #kim { color: pink; }
        .job{ color: green;}
        .bold-font{ font-weight: bold;}
    </style>
</head>
<body>
    <h1>html table 실습</h1>
    <table>
        <thead>
            <tr>
                <th>이름</th>
                <th>나이</th>
                <th>직업</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="hong">홍길동</td>
                <td>30</td>
                <td class="job bold-font">개발자</td>
            </tr>
            <tr>
                <td id="kim">김영희</td>
                <td>25</td>
                <td class="job">디자이너</td>
            </tr>
        </tbody>
    </table>
<!-- Code injected by live-server -->
<script>
	// <![CDATA[  <-- For SVG support
	if ('WebSocket' in window) {
		(function () {
			function refreshCSS() {
				var sheets = [].slice.call(document.getElementsByTagName("link"));
				var head = document.getElementsByTagName("head")[0];
				for (var i = 0; i < sheets.length; ++i) {
					var elem = sheets[i];
					var parent = elem.parentElement || head;
					parent.removeChild(elem);
					var rel = elem.rel;
					if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
						var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
						elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
					}
					parent.appendChild(elem);
				}
			}
			var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
			var address = protocol + window.location.host + window.location.pathname + '/ws';
			var socket = new WebSocket(address);
			socket.onmessage = function (msg) {
				if (msg.data == 'reload') window.location.reload();
				else if (msg.data == 'refreshcss') refreshCSS();
			};
			if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
				console.log('Live reload enabled.');
				sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
			}
		})();
	}
	else {
		console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
	}
	// ]]>
</script>
</body>
</html>

In [16]:
type(response.text)

str

In [17]:
html_text = response.text
html_text[html_text.index('id="hong"')+10:html_text.index('id="hong"')+13]

'홍길동'

### bs4 활용

In [18]:
html = response.text
soup = BeautifulSoup(html, 'html.parser')

In [19]:
table = soup.select('table') # select: 리스트로 받아옴
table

[<table>
 <thead>
 <tr>
 <th>이름</th>
 <th>나이</th>
 <th>직업</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td id="hong">홍길동</td>
 <td>30</td>
 <td class="job bold-font">개발자</td>
 </tr>
 <tr>
 <td id="kim">김영희</td>
 <td>25</td>
 <td class="job">디자이너</td>
 </tr>
 </tbody>
 </table>]

In [20]:
# select_one 사용
table = soup.select_one('table') # select_one: 가장 위에 있는 값을 가져옴
table

<table>
<thead>
<tr>
<th>이름</th>
<th>나이</th>
<th>직업</th>
</tr>
</thead>
<tbody>
<tr>
<td id="hong">홍길동</td>
<td>30</td>
<td class="job bold-font">개발자</td>
</tr>
<tr>
<td id="kim">김영희</td>
<td>25</td>
<td class="job">디자이너</td>
</tr>
</tbody>
</table>

In [21]:
table.select('tr')

[<tr>
 <th>이름</th>
 <th>나이</th>
 <th>직업</th>
 </tr>,
 <tr>
 <td id="hong">홍길동</td>
 <td>30</td>
 <td class="job bold-font">개발자</td>
 </tr>,
 <tr>
 <td id="kim">김영희</td>
 <td>25</td>
 <td class="job">디자이너</td>
 </tr>]

In [ ]:
# 목표: 아래와 같이 데이터 추출
# ['홍길동', '30', '개발자']
# ['김영희', '25', '디자이너']

In [22]:
# 테이블의 첫번째 tr태그에 있는 첫번째 th 태그의 텍스트
tag = table.select_one('tr')
tag.select('th')[0].get_text()

'이름'

In [23]:
[td.get_text() for td in table.select('tr')[1].select('td')]

['홍길동', '30', '개발자']

In [24]:
for row_tag in table.select('tr')[1:]:
    row_list = []

    td_tag_list = row_tag.select('td')
    # print(td_tag_list)

    row_list.append(td_tag_list[0].get_text())
    row_list.append(td_tag_list[1].get_text())
    row_list.append(td_tag_list[2].get_text())
    print(row_list)

['홍길동', '30', '개발자']
['김영희', '25', '디자이너']

In [25]:
for row_tag in table.select('tr')[1:]:
    row_list = []
    td_tag_list = row_tag.select('td')

    for td_tag in td_tag_list:
        row_list.append(td_tag.get_text())

    print(row_list)

['홍길동', '30', '개발자']
['김영희', '25', '디자이너']

In [26]:
# id가 'hong'인 태그의 text를 가지고 온다.
table.select_one('#hong').get_text()

'홍길동'

In [27]:
table.select_one('td#hong').get_text()

'홍길동'

In [28]:
table.select_one('td #hong').get_text() # td 안에 hong은 없기 때문에 에러

AttributeError: 'NoneType' object has no attribute 'get_text'

In [29]:
table.select_one('table #hong').get_text()

'홍길동'

In [30]:
table.select_one('tr > td').get_text() # 바로 하위(직속)인 경우 - table > td 는 안됌

'홍길동'

In [31]:
table.select('.job.bold-font')

In [32]:
table.select('.job, .bold_font') # or: ,(콤마)를 사용

- find

In [ ]:
table = soup.find('table') # 찾고자 하는 범위에 있는 태그 중 가장 앞에 있는 태그 1개가 도출 (select_one)
table

In [ ]:
table.find_all('tr')

In [ ]:
for row_tag in table.select('tr')[1:]:
    row_list = []
    td_tag_list = row_tag.find_all('td')

    for td_tag in td_tag_list:
        row_list.append(td_tag.get_text())

    print(row_list)

In [ ]:
# class 속성이 'job'인 모든 td 태그의 텍스트를 리스트에 담아서 출력
job_lst = table.find_all('td', {'class':'job'})
job_lst

In [ ]:
lst = []
for i in job_lst:
    lst.append(i.get_text())

lst

In [40]:
# 문제1: 컬럼명 추출
th_list = table.select('th')
th_list

In [42]:
lst = []
for i in th_list:
    lst.append(i.get_text())

lst

['이름', '나이', '직업']

In [44]:
[tr.select('td')[1].get_text() for tr in soup.select('tr') if tr.select('td')]

['30', '25']

In [46]:
result = []
for tr in soup.select('tr')[1:]:
    age_td = tr.select('td')[1]
    age = int(age_td.get_text())
    result.append(age)
result

[30, 25]