## 여러 음원 서비스 순위 수집

### 멜론

In [6]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver

In [7]:
driver_path = 'C:/Users/Playdata/Desktop/dev/setup/chromdriver.exe'
driver = webdriver.Chrome(driver_path)

C:\Users\Playdata\AppData\Local\Temp\ipykernel_1160\2719056226.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(driver_path)

In [9]:
url = 'https://www.melon.com/chart/'

In [10]:
driver.get(url)

In [11]:
html = driver.page_source

In [13]:
soup = BeautifulSoup(html, 'html.parser')

In [15]:
len(soup.select('.rank01')) # title

100

In [16]:
len(soup.select('.rank02')) # 가수

100

In [82]:
title_tag = soup.select('.rank01')
singer_tag = soup.select('div.rank02 > span')

In [83]:
title_lst = []
for title in range(100):
    title_lst.append(title_tag[title].get_text().strip())
len(title_lst)

100

In [84]:
singer_lst = []
for singer in range(100):
    singer_lst.append(singer_tag[singer].get_text().strip())
len(singer_lst)

100

In [85]:
singer_lst = [tag.get_text().strip() for tag in singer_tag]
len(singer_lst)

100

In [86]:
import pandas as pd
data_dic = {}
data_dic['서비스'] = ['Melon'] * 100
data_dic['순위'] = [i for i in range(1, 101)]
data_dic['제목'] = title_lst
data_dic['가수'] = singer_lst
df = pd.DataFrame(data_dic)

In [87]:
df

      서비스   순위                               제목                  가수
0   Melon    1                             I AM           IVE (아이브)
1   Melon    2  UNFORGIVEN (feat. Nile Rodgers)  LE SSERAFIM (르세라핌)
2   Melon    3                           Kitsch           IVE (아이브)
3   Melon    4                              손오공     세븐틴 (SEVENTEEN)
4   Melon    5                                꽃          지수 (JISOO)
..    ...  ...                              ...                 ...
95  Melon   96                         다시 사랑한다면                 한동근
96  Melon   97                             Zero            NewJeans
97  Melon   98                       그중에 그대를 만나                 김호중
98  Melon   99                    나의 마음에 (Seed)                  태양
99  Melon  100                           Cookie            NewJeans

[100 rows x 4 columns]

In [89]:
df.to_excel('files/melon.xlsx', index=False)

## bugs

In [2]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver

driver_path = 'C:/Users/Playdata/Desktop/dev/setup/chromdriver.exe'
driver = webdriver.Chrome(driver_path)
url = 'https://music.bugs.co.kr/chart'
driver.get(url)
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

C:\Users\Playdata\AppData\Local\Temp\ipykernel_9012\3731670662.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(driver_path)

In [3]:
songs = soup.select('table.byChart > tbody > tr')
len(songs)

100

In [4]:
title_lst = []
singer_lst = []
for song in songs:
    title = song.select_one('p.title').text.strip()
    singers = song.select_one('p.artist > a')

    title_lst.append(title)
    singer_lst.append(singers)

In [5]:
import pandas as pd
data_dic = {}
data_dic['서비스'] = ['Bugs'] * 100
data_dic['순위'] = [i for i in range(1, 101)]
data_dic['제목'] = title_lst
data_dic['가수'] = singer_lst
df = pd.DataFrame(data_dic)

In [6]:
df.head()

    서비스  순위                               제목                    가수
0  Bugs   1                            Spicy               [aespa]
1  Bugs   2                             I AM           [IVE (아이브)]
2  Bugs   3  UNFORGIVEN (feat. Nile Rodgers)  [LE SSERAFIM (르세라핌)]
3  Bugs   4                           Kitsch           [IVE (아이브)]
4  Bugs   5                              손오공      [세븐틴(SEVENTEEN)]

In [7]:
# 여러 Artists 적용
song_data = []
rank = 1 

for song in songs:
    title = song.select_one('p.title').text.strip()
    singers = song.select('p.artist > a')
    if len(singers) > 1:
        singer_all = singers[1]['onclick'].split('||')[1::3]
        singer_all = ','.join(singer_all)
    else:
        singer_all = singers[0].text.strip()

    song_data.append(['Bugs',rank,title,singer_all])
    rank += 1

len(song_data)

100

In [8]:
import pandas as pd
pd_data = pd.DataFrame(song_data, columns=['서비스','순위','타이틀','가수'])
pd_data.to_excel('files/bugs.xlsx', index=False)

## 지니

In [9]:
from bs4 import BeautifulSoup
from selenium import webdriver

driver_path = 'C:/Users/Playdata/Desktop/dev/setup/chromdriver.exe'
driver = webdriver.Chrome(driver_path)
url = 'https://www.genie.co.kr/chart/top200'
driver.get(url)
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

C:\Users\Playdata\AppData\Local\Temp\ipykernel_9012\869194270.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(driver_path)

In [ ]:
#body-content > div.newest-list > div > table > tbody > tr:nth-child(1) > td.info > a.title.ellipsis

In [52]:
songs = soup.select('table > tbody > tr')
len(songs)

50

In [46]:
songs[0]

<td class="info">
<a class="title ellipsis" href="#" onclick="fnPlaySong('101268096','1');return false;" title="재생">







                                                I AM</a>
<a class="artist ellipsis" href="#" onclick="fnViewArtist('81271496');return false;">IVE (아이브)</a>
<div class="toggle-button-box">
<button class="btn artist-etc" onclick="fnRelationArtistList('101268096');" type="button">외</button>
<ul class="list" id="RelationArtist_101268096"></ul>
</div>
<i class="bar">|</i>
<a class="albumtitle ellipsis" href="#" onclick="fnViewAlbumLayer('83665559');return false;">I've IVE</a>
</td>

In [47]:
songs[0].select_one('a.title').get_text().strip()

'I AM'

In [48]:
songs[0].select('a.artist')[0].get_text().strip()

'IVE (아이브)'

In [53]:
song_total_data = []
rank = 1

for song in songs:
    title = song.select_one('a.title').get_text().strip()
    artist = song.select_one('a.artist').get_text().strip()
    song_data = ['Genie', rank, title, artist]
    song_total_data.append(song_data)
    rank += 1

len(song_total_data)

50

In [55]:
import pandas as pd
columns = ['서비스', '순위', '타이틀', '가수']
df = pd.DataFrame(song_total_data, columns=columns)
df.head()

     서비스  순위                              타이틀                  가수
0  Genie   1                             I AM           IVE (아이브)
1  Genie   2  UNFORGIVEN (Feat. Nile Rodgers)  LE SSERAFIM (르세라핌)
2  Genie   3                           Kitsch           IVE (아이브)
3  Genie   4                            Spicy               aespa
4  Genie   5                                꽃          지수 (JISOO)

In [56]:
df.shape

(50, 4)

In [57]:
df.to_excel('files/genie.xlsx', index=False)

## 유튜브

In [85]:
from bs4 import BeautifulSoup
from selenium import webdriver

driver_path = 'C:/Users/Playdata/Desktop/dev/setup/chromdriver.exe'
driver = webdriver.Chrome(driver_path)
url = 'https://youtube-rank.com/board/bbs/board.php?bo_table=youtube'
driver.get(url)
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

C:\Users\Playdata\AppData\Local\Temp\ipykernel_9012\2125609592.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(driver_path)

In [ ]:
#list-skin > form:nth-child(5) > table > tbody > tr:nth-child(1) > td.subject

In [107]:
youtubes = soup.select('form > table > tbody > tr')
len(youtubes)

100

In [117]:
youtubes[99].select_one('td.subject > h1 > a').get_text().strip()

'매일맛나 delicious day'

In [118]:
youtubes[0].select_one('p.category').get_text().strip()

'[음악/댄스/가수]'

In [119]:
youtubes[0].select_one('td.subscriber_cnt').get_text().strip()

'8800만'

In [120]:
youtubes[0].select_one('td.view_cnt').get_text().strip()

'309억4863만'

In [121]:
youtubes[0].select_one('td.video_cnt').get_text().strip()

'514개'

In [127]:
youtube_total_data = []

for youtube in youtubes:
    title = youtube.select_one('td.subject > h1 > a').get_text().strip()
    category = youtube.select_one('p.category').get_text().strip()
    subscriber = youtube.select_one('td.subscriber_cnt').get_text().strip()
    view = youtube.select_one('td.view_cnt').get_text().strip()
    video = youtube.select_one('td.video_cnt').get_text().strip()
    youtube_data = [title, category, subscriber, view, video]
    youtube_total_data.append(youtube_data)

len(youtube_total_data)

100

In [128]:
import pandas as pd
columns = ['title', 'category', 'subscriber', 'view', 'video']
df = pd.DataFrame(youtube_total_data, columns=columns)
df.head()

               title    category subscriber       view   video
0          BLACKPINK  [음악/댄스/가수]      8800만  309억4863만    514개
1          BANGTANTV  [음악/댄스/가수]      7460만  202억7267만  2,195개
2        HYBE LABELS  [음악/댄스/가수]      7060만  276억7087만  1,184개
3             SMTOWN  [음악/댄스/가수]      3170만  269억1413만  4,121개
4  JYP Entertainment  [음악/댄스/가수]      2690만  193억8917만  1,678개

In [129]:
df.to_excel('files/youtube.xlsx', index=False)

In [132]:
lst = [[1,2,3], [1,2,3]]
pd.DataFrame(lst)

   0  1  2
0  1  2  3
1  1  2  3

In [ ]:
# .stripped_strings -> 제너레이터로 스트링을 반환해줌