## 여러 음원 서비스 순위 수집

### 멜론

In [6]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver

In [7]:
driver_path = 'C:/Users/Playdata/Desktop/dev/setup/chromdriver.exe'
driver = webdriver.Chrome(driver_path)

C:\Users\Playdata\AppData\Local\Temp\ipykernel_1160\2719056226.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(driver_path)

In [9]:
url = 'https://www.melon.com/chart/'

In [10]:
driver.get(url)

In [11]:
html = driver.page_source

In [13]:
soup = BeautifulSoup(html, 'html.parser')

In [15]:
len(soup.select('.rank01')) # title

100

In [16]:
len(soup.select('.rank02')) # 가수

100

In [82]:
title_tag = soup.select('.rank01')
singer_tag = soup.select('div.rank02 > span')

In [83]:
title_lst = []
for title in range(100):
    title_lst.append(title_tag[title].get_text().strip())
len(title_lst)

100

In [84]:
singer_lst = []
for singer in range(100):
    singer_lst.append(singer_tag[singer].get_text().strip())
len(singer_lst)

100

In [85]:
singer_lst = [tag.get_text().strip() for tag in singer_tag]
len(singer_lst)

100

In [86]:
import pandas as pd
data_dic = {}
data_dic['서비스'] = ['Melon'] * 100
data_dic['순위'] = [i for i in range(1, 101)]
data_dic['제목'] = title_lst
data_dic['가수'] = singer_lst
df = pd.DataFrame(data_dic)

In [87]:
df

      서비스   순위                               제목                  가수
0   Melon    1                             I AM           IVE (아이브)
1   Melon    2  UNFORGIVEN (feat. Nile Rodgers)  LE SSERAFIM (르세라핌)
2   Melon    3                           Kitsch           IVE (아이브)
3   Melon    4                              손오공     세븐틴 (SEVENTEEN)
4   Melon    5                                꽃          지수 (JISOO)
..    ...  ...                              ...                 ...
95  Melon   96                         다시 사랑한다면                 한동근
96  Melon   97                             Zero            NewJeans
97  Melon   98                       그중에 그대를 만나                 김호중
98  Melon   99                    나의 마음에 (Seed)                  태양
99  Melon  100                           Cookie            NewJeans

[100 rows x 4 columns]

In [89]:
df.to_excel('files/melon.xlsx', index=False)

## bugs