In [1]:
# abs: 절댓값 리턴 함수
abs(3 - 7)

4

In [2]:
# all: 모두 참이면 T
all([True, True])

True

In [3]:
all([True, False])

False

In [4]:
# any: 하나라도 참이면 T
any([True, True])

True

In [5]:
any([True, False])

True

In [6]:
# chr: 유니코드 숫자값을 해당 문자로 리턴
chr(97)

'a'

In [7]:
# ord: chr의 반대
ord('a')

97

In [8]:
for i in range(ord('A'), ord('z')+1):
    print(chr(i), end="")

ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]^_`abcdefghijklmnopqrstuvwxyz

In [19]:
# 순서대로 text에 있는 대문자를 붙여서 출력
text = "ThiS Is a MixEd CasE SEntenCe."

for char in text:
     if ord(char) >= ord('A') and ord(char) <= ord('Z'):
          print(char, end='')

TSIMECESEC

In [21]:
for char in text:
     if char >= 'A' and char <= 'Z':
          print(char, end='')

TSIMECESEC

In [22]:
'A'.isupper()

True

In [23]:
'a'.isupper()

False

In [24]:
for char in text:
     if char.isupper():
          print(char, end='')

TSIMECESEC

In [25]:
result = ''
for char in text:
     if char.isupper():
          result += char

print(result)

TSIMECESEC

In [30]:
# 역순
result = ''
for char in text[::-1]:
     if char.isupper():
          result += char

print(result)

CESECEMIST

In [33]:
# 역순
result = ''
for char in text:
     if char.isupper():
          result = char + result

print(result)

CESECEMIST

In [29]:
# dir 
'pop' in dir([]) #리스트형에 pop이 있는지
'pop' in dir('')

False

In [34]:
dir(())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [37]:
# filter

def no_magic_method(name):
    return name.count('__') != 2

string_dir = dir('문자열')
len(string_dir)

80

In [39]:
# filter(함수명, 데이터)
# 데이터의 각 원소를 함수에 대입했을 때, 참인 원소만 추출
filter(no_magic_method, string_dir)

In [48]:
for filter_value in filter(no_magic_method, string_dir):
    print(filter_value)

capitalize
casefold
center
count
encode
endswith
expandtabs
find
format
format_map
index
isalnum
isalpha
isascii
isdecimal
isdigit
isidentifier
islower
isnumeric
isprintable
isspace
istitle
isupper
join
ljust
lower
lstrip
maketrans
partition
removeprefix
removesuffix
replace
rfind
rindex
rjust
rpartition
rsplit
rstrip
split
splitlines
startswith
strip
swapcase
title
translate
upper
zfill

In [46]:
filtered_value_list = list(filter(no_magic_method, string_dir))
len(filtered_value_list)

47

In [44]:
new_list = []
for string in string_dir:
    if no_magic_method(string):
        new_list.append(string)

In [45]:
len(new_list)

47

In [49]:
# def 함수로 정의한 방식

def no_magic_method(name):
    return name.count('__') != 2

filtered_value_list = list(filter(no_magic_method, string_dir))
len(filtered_value_list)

47

In [50]:
# lamda 함수와 filter를 결합한 예시

filtered_value_list = list(filter(lambda name: name.count('__') != 2, string_dir))
len(filtered_value_list)

47

In [ ]:
# lambda 함수와 filter를 결합한 예시
filtered_value_list = list(filter(lambda name: name.count('__') != 2, string_dir))
len(filtered_value_list)

In [86]:
# '떡볶이'가 포함된 글만 추출
review_list = ['떡볶이 좋아','마라탕 좋아','순대국 먹고 싶어','떡볶이 싫어','튀김 먹고싶어용'] # 10000건
dd_review_list = list(filter(lambda review: '떡볶이' in review, review_list))
dd_review_list

['떡볶이 좋아', '떡볶이 싫어']

In [114]:
def review_filter(filter_value):
    review_filter =[]
    for i in review_list:
        if filter_value in i:
            review_filter.append(i)
    return review_filter

review_filter('떡볶이')

['떡볶이 좋아', '떡볶이 싫어']

In [93]:
review_list = ['떡볶이 좋아','마라탕 좋아','순대국 먹고 싶어','떡볶이 싫어','튀김 먹고싶어용']
dd_review_list = review_filter('떡볶이')
dd_review_list

['떡볶이 좋아', '떡볶이 싫어']

In [63]:
# 짝수 추출 함수
data = [1, 2, 3, 4, 5, 6, 7 ,8, 9, 10]
even_data = []
for element in data:
    if element % 2 == 0:
        even_data.append(element)

even_data

[2, 4, 6, 8, 10]

In [98]:
# 조건: 짝수인지 여부를 판단하는 함수를 만들어주세요
def filter_function(num):
    # 짝수이면 True
    if num % 2 == 0:
         return True
    # 홀수이면 False
    else:
         return False

In [99]:
assert filter_function(2) == True
assert filter_function(3) == False

In [100]:
def filter_function(num):
    return num % 2 == 0

In [101]:
filter_function(2)

True

In [102]:
data = [1, 2, 3, 4, 5, 6, 7 ,8, 9, 10]
even_data = []
for element in data:
    #if element % 2 == 0:
        #even_data.append(element)
    if filter_function(element):
        even_data.append(element)

even_data

[2, 4, 6, 8, 10]

In [103]:
assert even_data == [2,4,6,8,10]

In [104]:
even_data = list(filter(lambda element: element % 2 == 0, data))
even_data

[2, 4, 6, 8, 10]

In [105]:
even_data = list(filter(filter_function, data)) #함수 자체를 매개변수로 전달할 때는 함수명만 적는다.
even_data

[2, 4, 6, 8, 10]

In [113]:
for num in even_data:
    print(num)
    break

2

In [112]:
list(even_data)

[2, 4, 6, 8, 10]

In [118]:
# divmod: 몫과 나머지를 튜플 형태로 반환
divmod(10, 3)

(3, 1)

In [133]:
# enumerate
# 제 1순위 과일은 apple입니다.
fruits = ['apple', 'banana', 'cherry']

for num, fruit in enumerate(fruits):
    print(f'제 {num+1}순위 과일은 {fruit}입니다.')

제 1순위 과일은 apple입니다.
제 2순위 과일은 banana입니다.
제 3순위 과일은 cherry입니다.

In [132]:
list(enumerate(fruits))

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

In [134]:
num = 0
for fruit in fruits:
    num += 1
    print(f'제 {rank}순위 과일은 {fruit}입니다.')

제 3순위 과일은 apple입니다.
제 3순위 과일은 banana입니다.
제 3순위 과일은 cherry입니다.

In [135]:
# eval
user_data = {'text': '1 + 2 + 3'}
user_data['text']

'1 + 2 + 3'

In [202]:
#?
def solve(text):
    texts = []
    for text in user_data['text']:
        if text > '0':
            texts.append(int(text))
    return sum(texts)

solve('1+2+3')

6

In [261]:
def solve(text):
    result = 0
    for text in user_data['text']:
        if text > '0':
            result += int(text)
    return result

solve('1+2+3')

6

In [266]:
'0' < 'a'

True

In [203]:
def solve(text):
    result = []
    for i in text.split('+'):
        result.append(int(i))
        
    return sum(result)

solve('4+5+6')

15

In [204]:
def solve(text):
    num_list = text.split('+') # ['1', '2', '3']
    # result = int(num_list[0]) + int(num_list[1]) + int(num_list[2]) # for문을 사용해서 해결

    sum_val = 0
    for num in num_list:
        sum_val += int(num)
        
    return sum_val

solve('1+2+3')

6

In [205]:
eval('1+2+3')

6

In [182]:
# id
x = 1
y = 2

id(x)

1949436281072

In [183]:
id(y)

1949436281104

In [196]:
# int
int(5.23)

5

In [200]:
# 첫번째 매개변수에 2진수를 문자열로 입력
# 두번째 매개변수: 2 -> 10진수로 변환
int('1111', 2)

15

In [201]:
# isinstance(x1, x2) x1의 데이터타입이 x2와 동일하면 True

isinstance('문자열', str)

True

In [206]:
# len: 공백도 계산
len([1, 2, 3])

3

In [208]:
len('q d f')

5

In [212]:
# list(문자열) -> [문자1, 문자2...]
list('da ta')

['d', 'a', ' ', 't', 'a']

In [211]:
list(('a', 100)) #튜플을 리스트로 변환

['a', 100]

In [229]:
# map
# map(f, iterable)은 함수(f)와 반복 가능한 데이터를 입력으로 받는다. 
# map 함수는 입력받은 데이터의 각 요소에 함수 f를 적용한 결과를 리턴하는 함수이다.

In [215]:
list(map(lambda x: x * 2, [1, 2, 3]))

[2, 4, 6]

In [221]:
map_obj = map(lambda x: x * 2, [1, 2, 3])

# lambda x: x * 2 의 의미:
# def func(x):
#     return x * 2

In [223]:
for num in map_obj:
    print(num)
    break

4

In [232]:
# n = 3, m = 6 
# 데이터: '3 6'

num_list = input().split()
n = int(num_list[0])
m = int(num_list[1])
n, m

(3, 6)

In [237]:
# input().split() # ['3','6']
n, m = list(map(int,input().split()))
n

3

In [231]:
# max: 최댓값 (문자열도 사용가능)
max([2, 10, 3])

10

In [238]:
max(['z', 'AAA', 'zz'], key=len)

'AAA'

In [241]:
# min: 최솟값
min(['za', 'az', 'a'])

'a'

In [242]:
# pow
pow(2, 10) # 2의 10승

1024

In [243]:
# round: 반올림, 반내림
round(5.3)

5

In [246]:
round(5.7)

6

In [244]:
#?
int(5.7)

5

In [245]:
int(5.3)

5

In [247]:
round(5.1234567, 2)

5.12

In [248]:
# sorted
a_list = [5, 1, 2, 7]
sorted(a_list) #저장되진 않고 그냥 확인

[1, 2, 5, 7]

In [251]:
a_list = [5, 1, 2, 7]
a_list.sort()
a_list #원본 저장

[1, 2, 5, 7]

In [252]:
# str
str([1, 2, 3])

'[1, 2, 3]'

In [253]:
str([1, 2, 3])[0]

'['

In [254]:
# sum
sum([1, 2, 3])

6

In [255]:
sum('a', 'b') #문자열은 안됌

TypeError: sum() can't sum strings [use ''.join(seq) instead]

In [256]:
#tuple
tuple('hello')

('h', 'e', 'l', 'l', 'o')

In [257]:
tuple([1, 2])

(1, 2)

In [258]:
# type
type(0)

int

In [259]:
# zip
# zip(*iterable)은 동일한 개수로 이루어진 데이터들을 묶어서 리턴하는 함수이다.
# *iterable은 반복 가능(iterable)한 데이터 여러 개를 입력할 수 있다는 의미이다.
list(zip([1, 2, 3], [4, 5, 6]))

[(1, 4), (2, 5), (3, 6)]

In [271]:
round?

Signature: round(number, ndigits=None)
Docstring:
Round a number to a given precision in decimal digits.

The return value is an integer if ndigits is omitted or None.  Otherwise
the return value has the same type as the number.  ndigits may be negative.
Type:      builtin_function_or_method