In [87]:
import pandas as pd
df = pd.read_csv('../python/10.numpy/data/winequality-red.csv', sep=';')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [73]:
df.corr()['quality']

fixed acidity           0.124052
volatile acidity       -0.390558
citric acid             0.226373
residual sugar          0.013732
chlorides              -0.128907
free sulfur dioxide    -0.050656
total sulfur dioxide   -0.185100
density                -0.174919
pH                     -0.057731
sulphates               0.251397
alcohol                 0.476166
quality                 1.000000
Name: quality, dtype: float64

In [74]:
df['alcohol'].describe()

count    1599.000000
mean       10.422983
std         1.065668
min         8.400000
25%         9.500000
50%        10.200000
75%        11.100000
max        14.900000
Name: alcohol, dtype: float64

In [75]:
(df['alcohol'] - 7).describe()

count    1599.000000
mean        3.422983
std         1.065668
min         1.400000
25%         2.500000
50%         3.200000
75%         4.100000
max         7.900000
Name: alcohol, dtype: float64

In [76]:
df['volatile acidity'].describe()

count    1599.000000
mean        0.527821
std         0.179060
min         0.120000
25%         0.390000
50%         0.520000
75%         0.640000
max         1.580000
Name: volatile acidity, dtype: float64

In [77]:
(df['volatile acidity'] * -3).describe()

count    1599.000000
mean       -1.583462
std         0.537179
min        -4.740000
25%        -1.920000
50%        -1.560000
75%        -1.170000
max        -0.360000
Name: volatile acidity, dtype: float64

In [78]:
df['quality'].describe()

count    1599.000000
mean        5.636023
std         0.807569
min         3.000000
25%         5.000000
50%         6.000000
75%         6.000000
max         8.000000
Name: quality, dtype: float64

In [79]:
# df['quality'] = df['alcohol'] - 7
# df['quality'].describe()

In [92]:
(df['alcohol'] - 7)

0       2.4
1       2.8
2       2.8
3       2.8
4       2.4
       ...
1594    3.5
1595    4.2
1596    4.0
1597    3.2
1598    4.0
Name: alcohol, Length: 1599, dtype: float64

In [102]:
round(df['alcohol'] - 7, 0).astype('int')

0       2
1       3
2       3
3       3
4       2
       ..
1594    4
1595    4
1596    4
1597    3
1598    4
Name: alcohol, Length: 1599, dtype: int32

In [97]:
def model1(df):
    df['pred'] = round(df['alcohol'] - 7, 0).astype('int')
    return df['pred']

In [103]:
def model2(df):
#   퀄리티 = 알콜 - 5 + 산성도 * -3
    df['pred'] = (round(df['alcohol'] - 5) + (df['volatile acidity'] * -3)).astype('int')
    return df['pred']

In [106]:
model2(df).describe()

count    1599.00000
mean        3.30394
std         1.40629
min         0.00000
25%         2.00000
50%         3.00000
75%         4.00000
max         8.00000
Name: pred, dtype: float64

In [98]:
def evaluate(label, pred):
    return abs(label - pred).mean()

In [99]:
evaluate(df['quality'], model1(df))

2.289555972482802

In [107]:
evaluate(df['quality'], model2(df))

2.3658536585365852

In [108]:
abs(pd.Series([1,2]) - pd.Series([3,4]))

0    2
1    2
dtype: int64