Business Understanding -> Data Understanding -> Data Preparation -> Modeling -> Evaluation -> Deployment

- Business Understanding: Netflix 영화 추천 시스템_협업 필터링

- Data Understanding

> Movie.csv

In [43]:
import pandas as pd
movie_df = pd.read_csv('data/Netflix_Dataset_Movie.csv')
movie_df.head()

   Movie_ID  Year                          Name
0         1  2003               Dinosaur Planet
1         2  2004    Isle of Man TT 2004 Review
2         3  1997                     Character
3         4  1994  Paula Abdul's Get Up & Dance
4         5  2004      The Rise and Fall of ECW

In [44]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17770 entries, 0 to 17769
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Movie_ID  17770 non-null  int64
 1   Year      17770 non-null  int64
 2   Name      17770 non-null  object
dtypes: int64(2), object(1)
memory usage: 416.6+ KB

> Rating.csv

In [45]:
rating_df = pd.read_csv('data/Netflix_Dataset_Rating.csv')
rating_df.head()

   User_ID  Rating  Movie_ID
0   712664       5         3
1  1331154       4         3
2  2632461       3         3
3    44937       5         3
4   656399       4         3

In [46]:
rating_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17337458 entries, 0 to 17337457
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   User_ID   int64
 1   Rating    int64
 2   Movie_ID  int64
dtypes: int64(3)
memory usage: 396.8 MB

In [47]:
rating_df['Rating'].value_counts()

4    5901368
3    5185650
5    3769803
2    1759281
1     721356
Name: Rating, dtype: int64

> EDA

In [48]:
# user_groupby = rating_df.groupby('User_ID')
# movie_groupby = rating_df.groupby('Movie_ID')

# average_user_rating = user_groupby['Rating'].mean()
# number_of_ratings_by_user = user_groupby['Rating'].count()
# average_movie_rating = movie_groupby['Rating'].mean()
# number_of_movie_ratings = movie_groupby['Rating'].count()

# average_user_rating.name = 'avg_rating'
# number_of_ratings_by_user.name  = 'n_ratings'
# average_movie_rating.name  = 'avg_rating'
# number_of_movie_ratings.name  = 'n_ratings'

# average_user_rating.sort_values(ascending=False)

In [49]:
movie_rating_df = movie_df.merge(rating_df, how='left', on='Movie_ID')
movie_rating_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17353878 entries, 0 to 17353877
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   Movie_ID  int64
 1   Year      int64
 2   Name      object
 3   User_ID   float64
 4   Rating    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 794.4+ MB

In [52]:
movie_rating_df.isnull().sum()

Movie_ID        0
Year            0
Name            0
User_ID     16420
Rating      16420
dtype: int64

In [53]:
movie_rating_df = movie_rating_df.drop(columns=['Year', 'Name'])
movie_rating_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17353878 entries, 0 to 17353877
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   Movie_ID  int64
 1   User_ID   float64
 2   Rating    float64
dtypes: float64(2), int64(1)
memory usage: 529.6 MB

In [55]:
movie_rating_df.isnull().sum()

Movie_ID        0
User_ID     16420
Rating      16420
dtype: int64

In [59]:
moviemat = movie_rating_df.pivot_table(index='User_ID', columns='Movie_ID', values='Rating')
moviemat.head()

Movie_ID,3,8,16,17,18,26,28,30,32,33,...,4472,4474,4478,4479,4485,4488,4490,4492,4493,4496
User_ID,,,,,,,,,,,,,,,,,,,,,
6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7.0,NaN,5.0,NaN,NaN,NaN,NaN,4.0,5.0,NaN,NaN,...,3.0,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN
97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
moviemat.shape

(143458, 1350)

In [63]:
movie_pivot = movie_rating_df.pivot_table(index='Movie_ID', columns='User_ID', values='Rating')
movie_pivot.shape

(1350, 143458)

In [64]:
movie_pivot.head()

User_ID,6.0,7.0,79.0,97.0,134.0,169.0,183.0,188.0,195.0,199.0,...,2649308.0,2649328.0,2649331.0,2649335.0,2649336.0,2649370.0,2649378.0,2649388.0,2649426.0,2649429.0
Movie_ID,,,,,,,,,,,,,,,,,,,,,
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
movie_pivot.fillna(0, inplace=True)
movie_pivot = movie_pivot.astype('int8')
movie_pivot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1350 entries, 3 to 4496
Columns: 143458 entries, 6.0 to 2649429.0
dtypes: int8(143458)
memory usage: 184.7 MB

In [66]:
movie_pivot.head()

User_ID,6.0,7.0,79.0,97.0,134.0,169.0,183.0,188.0,195.0,199.0,...,2649308.0,2649328.0,2649331.0,2649335.0,2649336.0,2649370.0,2649378.0,2649388.0,2649426.0,2649429.0
Movie_ID,,,,,,,,,,,,,,,,,,,,,
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,5,0,0,0,0,0,0,0,0,...,0,0,0,0,4,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,0
18,0,0,0,0,0,0,0,0,0,0,...,4,0,0,0,0,0,0,0,0,0

In [68]:
movie_pivot.shape

(1350, 143458)

- Recommendation System

In [69]:
from sklearn.neighbors import NearestNeighbors

In [70]:
n_neighbors = 11
KNN = NearestNeighbors(metric='cosine', n_neighbors=n_neighbors, n_jobs=-1)

In [72]:
KNN.fit(movie_pivot)

NearestNeighbors(metric='cosine', n_jobs=-1, n_neighbors=11)

In [74]:
distances, indices = KNN.kneighbors(movie_pivot)

MemoryError: Unable to allocate 185. MiB for an array with shape (169, 143458) and data type float64

In [ ]:
distances.shape

In [ ]:
indices.shape

In [75]:
movie_pivot.head()

User_ID,6.0,7.0,79.0,97.0,134.0,169.0,183.0,188.0,195.0,199.0,...,2649308.0,2649328.0,2649331.0,2649335.0,2649336.0,2649370.0,2649378.0,2649388.0,2649426.0,2649429.0
Movie_ID,,,,,,,,,,,,,,,,,,,,,
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,5,0,0,0,0,0,0,0,0,...,0,0,0,0,4,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,0
18,0,0,0,0,0,0,0,0,0,0,...,4,0,0,0,0,0,0,0,0,0

In [77]:
import numpy as np
# ISBN -> 행렬의 행의 위치(숫자) 
np.where(movie_pivot.index == 18)

(array([4], dtype=int64),)

In [78]:
movie_df[movie_df['Movie_ID'] == 18]

    Movie_ID  Year              Name
17        18  1994  Immortal Beloved

In [ ]:
indices[18]

In [ ]:
distances[18]

In [ ]:
for i in range(n_neighbors):
    book_title = movie_df.loc[movie_df['Movie_ID'] == movie_pivot.index[indices[18][i]], 'Name'].values[0]
    distance = '{:.3f}'.format(distances[18][i])
    print(book_title, 'distance: ', distance)