## 클래스

In [30]:
# 학생 정보 관리 시스템
class Student: # class 이름은 앞에 대문자로 사용
    def __init__(self,name,id,major): 
        self.name = name # 개체 변수를 의미함 (self.변수명)
        self.id = id
        self.major = major
        self.grades = []

    def add_grade(self, grade):
        self.grades.append(grade)
    
    def average_grade(self):
        #if len(self.grades) == 0:
        if not self.grades:
           return 0
        else:
            return sum(self.grades) / len(self.grades)

In [31]:
student_1 = Student('홍길동', '0001', 'Data Science')
student_1

In [32]:
type(student_1)

__main__.Student

In [33]:
student_1.name

'홍길동'

In [34]:
student_1.grades

[]

In [35]:
student_1.average_grade()

0

In [36]:
student_2 = Student('김연아', '0002', 'Skate')

In [37]:
student_1.add_grade(100)
student_2.add_grade(90)
student_1.add_grade(80)
student_2.add_grade(70)

In [38]:
student_1.grades

[100, 80]

In [39]:
student_2.grades

[90, 70]

In [40]:
student_1.average_grade()

90.0

In [41]:
student_2.average_grade()

80.0

In [1]:
 # 상품 정보 관리

class Product:
    def __init__(self, name, price): # Product 클래스 init 함수
        self.name = name
        self.price = price
    
    def get_name(self):
        return self.name
    
    def get_price(self):
        return self.price

In [5]:
class Book(Product): #부모 Project를 상속받아 Book을 만든다
    def __init__(self, name, price, author):
        super().__init__(name, price) # Product 클래스 init 함수
        self.author = author

    # 오버라이딩: 부모가 정의한 함수를 가져다가 변경함
    def get_name(self):
        return self.name.upper()
    
    def get_author(self):
        return self.author

In [6]:
book = Book('Harry Potter', 20000, 'J.K. Rowling')

In [7]:
book.get_name()

'HARRY POTTER'

In [51]:
product_1 = ('snack', 2000)

In [52]:
prodect_1.get_author # 에러: 자식에 있는 함수는 사용 못함

NameError: name 'prodect_1' is not defined