### 연간 엔터사별 Top 앨범 출시에 따른 주가 변동률 분석

- 일간 변동률 = daily rate of change (drc)
- 변동률 누적 합계 = cumulative sum rate of change (cs)

In [1]:
import pandas as pd
import pymysql
import matplotlib.pyplot as plt
from calculation_of_stock_by_release_date import create_top_album_stock, calculate_rate_of_change

In [2]:
yearly_top_album_df = pd.read_csv('data/yearly_top_album_df.csv')

In [3]:
yearly_top_album_df[yearly_top_album_df['year'] == 2018]

,agency_name,year,ranking,singer,title,sales,release_date
0,SM,2018,3,EXO,DON'T MESS UP MY TEMPO - The 5th Album,1452030,2018.11.02
1,JYP,2018,10,TWICE,What is Love?,348797,2018.04.09
2,YG,2018,21,BLACKPINK,SQUARE UP,230656,2018.06.15

In [6]:
# 분석할 출시일
release_date = '2018-11-02'

# Top 앨범 출시일 이후 10 거래일 간의 주가 데이터 추출
conn = pymysql.connect(host='127.0.0.1'
            , port=3306
            , user = 'root'
            , password='root1234'
            , db = 'stock_pj'
            , charset='utf8'
            ) 

cur = conn.cursor()

cur.execute(f'''
    select * from agency_stock
    where date >= '{release_date}'
    ORDER BY date
    LIMIT 30;   
''')

top_album_stock_tuple = cur.fetchall()

# create_top_album_stock
top_album_stock_df, date_list = create_top_album_stock(top_album_stock_tuple)

# 주가 변동률 계산
rate_of_change_df = calculate_rate_of_change(top_album_stock_df, date_list)
rate_of_change_df

         date   jyp_drc    jyp_cs    sm_drc      sm_cs    yg_drc     yg_cs
0  2018-11-02       NaN       NaN       NaN        NaN       NaN       NaN
1  2018-11-05 -3.278689 -3.278689  1.656315   1.656315 -3.728362 -3.728362
2  2018-11-06 -0.993377 -4.272066 -2.006336  -0.350021 -1.899593 -5.627955
3  2018-11-07 -3.247863 -7.519929 -1.827957  -2.177978 -3.802817 -9.430772
4  2018-11-08 -1.916376 -9.436306 -1.861993  -4.039972  0.560224 -8.870548
5  2018-11-09  3.529412 -5.906894  2.143623  -1.896349  1.381215 -7.489332
6  2018-11-12  4.186795 -1.720098  0.107066  -1.789282  5.359477 -2.129855
7  2018-11-13 -0.811688 -2.531787 -0.430108  -2.219390  4.015056  1.885201
8  2018-11-14  5.521472  2.989686  6.813627   4.594237  3.510896  5.396097
9  2018-11-15  5.232558  8.222244  7.249071  11.843308  2.364066  7.760163

In [ ]:
# 만약 sm일떄 sm 주가변동률이 가장 높이면 True 아니면 False
# 얼마나 더 높을까? 평균 구하기